/* Universal Styles */
* {
    margin: auto;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

header {
    height: 80px;
    padding: 0 30px;
    box-shadow: 0 2px 0 0 #e50000;
    background-color: #ffffff;
}

.banner-section {
    margin: 1px 0 0;
    object-fit: contain;
    
}

.carousel-item img {
    height: 600px;
    width: 100%;
}

.highlights-section {
    display: block;
    width: 1440px;
    height: 314px;
    padding: 50px 165px 50px 223px;
    background-color: #f5f5f5;
}

.highlights-section img {
    max-width: 92px;
    min-height: 40px;
    margin: auto;
}

.highlights-section .row {
    height: 214px;
}

.highlights-section .col {
    height: 214px;
    width: 350px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

.highlights-section .card {
    padding: 56px 0 60px 0;
    text-align: center;
   
}
.highlights-section .card-text {
    color: #202020;
}




.contact {
    background-image: url(../images/group-13.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 368px;
}

.mask {
    height: 368px;
    background-color: rgba(32,32,32,0.6);
}

.text-white {
    margin: 100px 0;
    color: #ffffff;
    font-size: 56px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}