/* Universal Styles */
* {
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
}
header, section {
    overflow-x: hidden;
}

h1 {
    font-size: 66px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #202020;
}

h2 {
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
}

h3 {
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #202020;
}

h5 {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    color: #202020;
}

p{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #555555;
}

b {
    font-size: 10px;
    font-weight: normal;
    color: #555555;
    padding-left: 4px;
}

.read-more-btn {
    margin-top: 30px;
    width: 120px;
    height: 54px;
    text-align: left;
}

.btn-toyota-primary, .btn-toyota-primary:hover{
    text-decoration: none;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #e50000;
    font-size: 16px;
    font-weight: normal;
}

/* Header */

nav {
    padding: 0px 30px;
    box-shadow: 0 2px 0 0 #e50000;
    background-color: #ffffff;
}

nav .container-fluid{
    height: 80px;
}

nav ul {
    margin-left: 30px;
}

.nav-link {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #555555 !important;
}
nav .border-start {
    height: 80px;
    padding-left: 30px;
}

.border-start img {
    width: 71px;
    height: 59px;
    margin: 10px 0;
}

header .nav-item {
    padding-right: 22px;
}

/* Banner Section */

.banner-section {
    width: 100%;
    margin: 1px 0 0;
    object-fit: contain;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #000000);
}

.carousel-item img {
    height: 80vmin;
    width: 100%;
}

.carousel-item {
    margin: 0;
}

.carousel-item .slide-body {
    width: 50%;
    height: 225px;
    position: absolute;
    left: 100px;
    bottom: 100px;
    z-index: 100;
}

/* Highlights Section */

.highlights-section {
    display: block;
    width: 100%;
    padding: 50px 135px;
    background-color: #f5f5f5;
}

.highlights-section img {
    max-width: 92px;
    min-height: 40px;
    margin: auto;
}

.highlights-section .row {
}

.highlights-section .col {
    width: 350px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

.highlights-section .card {
    padding: 56px 0 60px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.highlights-section .card:hover {
    background-color: #ffffff;;  
}

.highlights-section .card-text {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: center;
    color: #202020;
}

/* Products Section */

.product-section {
    width: 100%;
    display: block;
    padding: 100px 165px;
    background-color: #ffffff;
}

.product-section .col {
    width: 255px;
    margin: 0;
    padding: 0;
}

.product-section img {
    width: 100%;
    height: 255px;
    margin: 0;
}

.product-section .card-body {
    width: 100%;
    height: 164px;
    padding: 0;
    margin: 0;
    color: #202020;
    position: relative;
}

.product-section .card-title {
    margin: 20px 30px 10px 0;
    padding-right: 25px;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.product-section .card-text {
    margin: 10px 0;
    padding-right: 40px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #555555;
}

.product-section .read-more-link {
    position: absolute;
    bottom: 0;
}

.read-more {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #e50000;
    padding: 0;
}

.fa-angle-right {
    color: #e50000;
}

/* Contact Section */

.contact-section {
    background-image: url(../images/group-13.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 368px;
}

.mask {
    height: 368px;
    background-color: rgba(32,32,32,0.6);
}

.contact-container {
    height: 368px;
    padding: 100px 0;
}
.contact-body {
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
}

.contact-text {
    width: 100% ;
    height: 74px;
    margin-bottom: 30px;
}

.contact-btn {
    width: 321px;
    height: 64px;
    margin: 0 20px 0 0;
    padding: 7px 30px 12px 30px;
    background-color: #f5f5f5;
    border: solid 1px #e1e1e1;
    text-align: left;
}

.contact-section select {
    background-color: #f5f5f5;
    color: #555555;
}

/* Welcome Section  */

.welcome-section {
    width: 100%;
    height: 634px;
    padding: 100px 0;
    background-color: #ffffff;
}

.wel-title {
    width: 100%;
    height: 155px;
}

.wel-text {
    width: 100%;
    height: 135px;
    margin-bottom: 70px;
    color: #555555;
}

.welcome-section .btn-toyota-primary {
    background-color: #f5f5f5;
    color: #202020;
    padding: 20px 30px;
}

/* Offer Section */

.offer-section {
    width: 100%;
    height: 813px;
    padding: 100px 165px;
    background-color: #f5f5f5;
}

.offer-title-wrapper {
    height: 40px;
    margin: 0 0 50px 0;
}

.offer-title {
    color: #202020;
    font-weight: bold;
}

.fa-chevron-circle-left {
    padding-right: 10px;
}

.offer-section .row {
    width: 100%;
}

.offer-section .card {
    width: 350px !important;
    height: 523px;
    background-color: #ffffff;
    position: relative;
}

.offer-section img {
    width: 350px;
    height: 250px;
}

.offer-section .card-body {
    padding: 20px 30px 0 30px;
}

.offer-section .card-title {
    margin-bottom: 10px;
}

.offer-section .card-text .small {
    font-size: 14px;
}

.offer-section .btn {
    width: 290px;
    height: 64px;
    margin: 30px;
    padding: 20px 115px;
    position: absolute;
    bottom: 0;
}

footer {
    border-top: 2px solid #e50000;
}

.footer {
    width: 100%;
    height: 323px;
    padding: 50px 0;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}

.footer-options {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
}

.footer-item {
    display: inline-block;
}

.footer-link {
    text-decoration: none; 
    color: #555555;
    padding: 0 15px;
}

.footer .btn {
    padding: 15px 30px;
    color: #202020;
}

.social-sign {
    width: 100%;
    padding: 20px 0;
}

.social-sign a {
    text-decoration: none;
    background-color: transparent;
    color: #000000;
    margin: 0;
}

.social-sign .fa {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0 5px;
    padding: 15px;
    border: solid 1px #e1e1e1;
    border-radius: 50%;
}

