/* Universal Styles */
* {
    box-sizing: border-box;
    font-family: 'OpenSans', sans-serif;
}
header, section {
    overflow-x: hidden;
}

h1 {
    font-size: 66px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #202020;
}

h2 {
    font-size: 56px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
}

h3 {
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #202020;
}

h5 {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    color: #202020;
}

p{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #555555;
}

b {
    font-size: 10px;
    font-weight: normal;
    color: #555555;
    padding-left: 4px;
}

.read-more-btn {
    margin-top: 30px;
    width: 120px;
    height: 54px;
    text-align: left;
}

.btn-toyota-primary, .btn-toyota-primary:hover{
    text-decoration: none;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #e50000;
    font-size: 16px;
    font-weight: normal;
}

/* Header */

nav {
    border-bottom: 2px #e50000 solid;
    background-color: #ffffff;
}

header .navbar-toggler {
    border: none;
}

.header-desktop{
    padding-left: 30px;
    height: 80px;
}

.header-desktop .navbar-brand {
    margin-right: 60px;
}

.header-desktop .navbar-brand img {
    max-width: 220px;
    max-height: 100%;
}

.header-desktop .navbar-collapse {
    height: 80px;
}

.header-desktop .nav-item {
    padding: 0 5px;
}

.nav-link {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #555555 !important;
}

.header-desktop .brand-logo img { 
    padding: 0 30px;
    margin: 10px 0;
}

.header-mobile {
    display: none;
    padding-left: 10px;
    height: 58px;
}

.header-mobile .navbar-brand  {
    width: 200px;
    height: 56px;
}
.header-mobile .navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}
.header-mobile .phone-link {
    display: inline-block;
    right: 60px;
    position: absolute;
}

/* Banner Section */

.banner-section {
    width: 100%;
    position: relative;
    top: 80px;
}
    
.banner-section .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    object-fit: contain;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black);
    opacity: 0.40;
}

.carousel-item img {
    width: 100%;
}

.carousel-item .slide-body {
    max-width: 800px;
    height: auto;
    display: block;
    position: absolute;
    left: 100px;    
    bottom: 100px;
    z-index: 100;
    object-fit: contain;
}

.carousel-item .slide-body .text-left {
    overflow-wrap: break-word;
}

/* Highlights Section */

.highlights-section {
    position: relative;
    top: 80px;
    display: block;
    padding: 50px 0;
    background-color: #f5f5f5;
}

.highlights-section .row {
    margin: 0 auto;
    max-width: 1140px;
}

.highlights-section img {
    max-width: 92px;
    min-height: 40px;
    margin: auto;
}

.highlights-section .col {
    width: 350px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

.highlights-section .card {
    padding: 56px 0 60px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.highlights-section .card:hover {
    background-color: #ffffff;;  
}

.highlights-section .card-text {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: center;
    color: #202020;
}

/* Products Section */

.product-section {
    display: block;
    padding: 100px 0;
    background-color: #ffffff;
}

.product-section .row {
    margin: 0 auto;
    max-width: 1140px;
}


.product-section .col {
    width: 255px;
    margin: 0;
    padding: 0;
}

.product-section img {
    width: 100%;
    height: 255px;
    margin: 0;
}

.product-section .card-body {
    width: 100%;
    height: 164px;
    padding: 0;
    margin: 0;
    color: #202020;
    position: relative;
}

.product-section .card-title {
    margin: 20px 30px 10px 0;
    padding-right: 25px;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

.product-section .card-text {
    margin: 10px 0;
    padding-right: 40px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #555555;
}

.product-section .read-more-link {
    position: absolute;
    bottom: 0;
}

.read-more {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #e50000;
    padding: 0;
}

.fa-angle-right {
    color: #e50000;
}

/* Contact Section */

.contact-section {
    background-image: url(../images/group-13.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 368px;
}

.mask {
    height: 368px;
    background-color: rgba(32,32,32,0.6);
}

.contact-container {
    height: 368px;
    padding: 100px 0;
}
.contact-body {
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
}

.contact-text {
    width: 100% ;
    height: 74px;
    margin-bottom: 30px;
}

.contact-btn {
    width: 321px;
    height: 64px;
    margin: 0 20px 0 0;
    padding: 7px 30px 12px 30px;
    background-color: #f5f5f5;
    border: solid 1px #e1e1e1;
    text-align: left;
}

.contact-section select {
    background-color: #f5f5f5;
    color: #555555;
}

/* Welcome Section  */

.welcome-section {
    height: 634px;
    padding: 100px 0;
    background-color: #ffffff;
}

.welcome-section-wrapper {
    margin: 0 auto;
    max-width: 1140px;
}

.wel-title {
    width: 100%;
    height: 155px;
}

.wel-text {
    width: 100%;
    height: 135px;
    margin-bottom: 70px;
    color: #555555;
}

.welcome-section .btn-toyota-primary {
    background-color: #f5f5f5;
    color: #202020;
    padding: 20px 30px;
}

/* Offer Section */

.offer-section {
    height: 813px;
    padding: 100px;
    background-color: #f5f5f5;
}
.offer-section-wrapper {
    margin: 0 auto;
    max-width: 1140px;
}

.offer-title-wrapper {
    height: 40px;
    margin: 0 0 50px 0;
}

.offer-title {
    color: #202020;
    font-weight: bold;
}

.fa-chevron-circle-left {
    padding-right: 10px;
}

.offer-section .row {
    width: 100%;
}

.offer-section .card {
    width: 350px !important;
    height: 523px;
    background-color: #ffffff;
    position: relative;
}

.offer-section img {
    width: 350px;
    height: 250px;
}

.offer-section .card-body {
    padding: 20px 30px 0 30px;
}

.offer-section .card-title {
    margin-bottom: 10px;
}

.offer-section .card-text .small {
    font-size: 14px;
}

.offer-section .btn {
    width: 290px;
    height: 64px;
    margin: 30px;
    padding: 20px 115px;
    position: absolute;
    bottom: 0;
}

footer {
    border-top: 2px solid #e50000;
}

.footer {
    width: 100%;
    height: 323px;
    padding: 50px 0;
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}

.footer-options {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
}

.footer-item {
    display: inline-block;
}

.footer-link {
    text-decoration: none; 
    color: #555555;
    padding: 0 15px;
}

.footer .btn {
    padding: 15px 30px;
    color: #202020;
}

.social-sign {
    width: 100%;
    padding: 20px 0;
}

.social-sign a {
    text-decoration: none;
    background-color: transparent;
    color: #000000;
    margin: 0;
}

.social-sign .fa {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0 5px;
    padding: 15px;
    border: solid 1px #e1e1e1;
    border-radius: 50%;
}


@media only screen and (max-width: 992px) {
    .header-mobile {
        display: block;
    }

    .header-desktop {
        display: none;
    }

    .banner-section {
        position: relative;
        top: 58px;
    }

    .carousel-item .slide-body {
        left: 50px;    
        bottom: 40px;
    }

    .highlights-section {
        position: relative;
        top: 58px;
    }

}

@media only screen and (max-width: 767px) {
    .carousel-item .slide-body {
        left: 20px;    
        bottom: 20px;
        
    }
    
    .carousel-item .slide-body .text-left {
        overflow-wrap: break-word;
        font-size: 20px;
        line-height: 30px;
    }
    
    .carousel-item .slide-body .read-more-btn {
        display: none;
    }
}